{% extends "layout.html" %}
{% block title %}
    Blackbox
{% endblock %}
{% block js %}
<script type="module" src="../static/js/notes.js" defer></script> 
{% endblock %}
{% block main %}

    <div class="box" style="background: linear-gradient(to bottom, black 13%, black 13%, white 13%, white 100%); border-radius: 30px;">
        {% if notes %}
        <div>
            <form action="/blackbox" method="post">
                <select>
                    {% for log in logs %}
                    <option value=log.id>log{{ loop.index }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>   
        {% else %}
        <div  style="text-align: center; background-color: orange; position: relative; top: -15px;">
            <p style="align-items: center; color: white;">There arent any logs yet</p>
        </div>
        {% endif %}
        <div id="log_content" style="width: 600px; height: 400px;"> {{ log_content }} </div>
    </div>
{% endblock %}