{% extends "layout.html" %}
{% block title %}Failure{% endblock %}

{% block main %}
  <!-- Top Section -->
  <div style="position: absolute; display: flex; justify-content: center; top: 0px;">
    <h1 style="text-align: center; text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white; font-size: 80px; margin: 0;">
      Moo-ps!
    </h1>
  </div>

  <!-- Image Section -->
  <img src="/static/images/failure_cow.jpeg" alt="Sorry cow" style="width: 300px; height: 295px; border: 2px solid black; border-radius: 30px;">

  <!-- Alert Message Section -->
  <div style="position: absolute; display: flex; justify-content: center; bottom: 0px;">
    <h2 style="text-align: center; text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white; font-size: 80px; margin: 0; margin-bottom: 25px;">
      {{alert}}
    </h2>
  </div>
{% endblock %}