{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}
<div class="scroll-box">
<h1>Whats C.O.W?</h1>
<p>C.O.W (Continuous Online Wave) is your comprehensive companion to the fascinating world of Morse code. Whether you’re a seasoned pro or a curious novice, C.O.W offers a suite of tools designed to enhance your Morse code experience:</p>
<ul>
    <li>Effortless Translation: Seamlessly translate between Morse code and normal text, bridging the gap between this historical code and modern language. Input text or Morse code, and C.O.W will instantly provide accurate translations, making communication and learning intuitive and accessible.</li>
    <li>Hands-On Telegraph Practice: Immerse yourself in the world of telegraphy with our realistic telegraph simulator. Practice creating your own notes in Morse code, fine-tuning your timing and rhythm in the process. Adjust the speed to match your comfort level, gradually increasing it as your proficiency grows.</li>
    <li>Structured Koch Method Training: Master Morse code systematically with the renowned Koch method, a proven approach to skill development. C.O.W guides you through progressively challenging lessons, starting with individual characters and building up to larger sequences. This structured approach ensures a solid foundation and steady progress.</li>
</ul>
<p>With these features, C.O.W is here to make your journey into the world of Morse code both fun and rewarding. We hope you'll enjoy exploring and mastering this fascinating skill at your own pace, while discovering the unique tools and interactive elements we've created just for you. Dive in, experiment, and let us be part of your learning adventure!</p>
<h1>Why Register?</h1>
<p>Registering for an account on C.O.W opens up additional features that will enrich your learning journey. You’ll be able to save your notes and track your progress over time, allowing you to pick up right where you left off. Plus, registered users can publish messages to everyone who visits the page in Morse code, making it an interactive way to share your knowledge and engage with the community. Start your journey now and unlock the full potential of C.O.W!</p>
</div>
{% endblock %}