{% extends "layout.html" %}
{% block title %}
    Home
{% endblock%}
{% block main %}
<h1>¿Whats Morse Code?</h1>
<p>Morse code is a communication system based on dots and dashes, with unique combinations assigned to each letter and number. Developed in the 19th century, it allowed messages to be sent quickly and clearly, especially in situations where other means weren't possible, such as over telegraphs. Today, learning Morse code is a fascinating and practical skill still used in aviation, navigation, and emergency scenarios. Exploring Morse code is like uncovering a piece of communication history!</p>
<hr class="time_line">
<div class="dates">
    <span>1837</span>
    <span>1844</span>
    <span>1851</span>
    <span>1890</span>
    <span>1970</span>
    <span>1999</span>
    <span>2024</span>
</div>
1837: Samuel Morse and Alfred Vail develop the telegraph and create the dot-and-dash system we know as Morse code, initially designed to transmit short messages over long distances.

1844: Samuel Morse sends the first message in Morse code: “What hath God wrought” between Washington D.C. and Baltimore via telegraph, marking a milestone in long-distance communication.

1851: The International Telegraph Congress adopts a standardized version of Morse code in Europe. This version, called "International Morse Code," is the foundation of the Morse code used today.

1890s-1900s: Morse code becomes the primary method of communication in radio and telegraph systems, especially in conflicts and maritime navigation.

1912: During the Titanic disaster, radio operators send SOS signals in Morse code, popularizing the emergency call and demonstrating Morse's critical value in rescue situations.

1939-1945 (World War II): Morse code remains essential in military communications, especially when secure and fast communication is crucial.

1970s: Although Morse code begins to be replaced by modern technologies, it remains in use in certain aviation, navigation, and emergency communication applications.

1999: The International Maritime Organization officially replaces Morse code in maritime emergency services, though it remains a valid tool in specific scenarios.

Present Day: Today, Morse code is mainly used as a specialized skill or hobby, and in some emergency contexts. It's still a fascinating way to experience communication in a unique form!"

{% endblock %}