{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}
<div style="display: flex; align-items: center; justify-content: center; min-height: 85vh;">
<div class="box" style="width: 40%;">
<h1>Whats C.O.W?</h1>
<p>C.O.W (Continuous Online Wave) is your all-in-one Morse code companion, offering:</p>
<ul>
    <li><strong>Translation</strong> – Convert text to Morse and vice versa effortlessly.</li>
    <li><strong>Telegraph Practice</strong> – Use a realistic simulator to refine timing and rhythm.</li>
    <li><strong>Koch Method Training</strong> – Learn Morse code step by step with a structured approach.</li>
</ul>
<h1>Why Register?</h1>
<p>Unlock extra features like saving notes, tracking progress, and publishing Morse messages for the community. Join now and enhance your learning experience!</p>
</div>
<div>
    <img src="/static/images/cow_1.jpg" alt="Greeting cow" style="width: 400px; height: 440px; border: 2px solid black; border-radius: 10%">
</div>
</div>
{% endblock %}