{% extends "layout.html" %}
{% block title %}
    Morse
{% endblock %}
{% block main %}
<div style="display: flex; align-items: center; justify-content: center; min-height: 85vh;">
<div class="box" style="width: 40%;">
<h1>What is Morse Code?</h1>
<p>A system of dots and dashes used to encode text, invented by Samuel Morse and Alfred Vail in the 1830s.</p>
<h2>Why is Morse Code Important?</h2>
<p>It revolutionized communication, played a key role in wars, navigation, and emergencies, and is still used in aviation, radio, and distress signals (e.g., SOS: ··· --- ···).</p>

<h2>Common Uses of Morse Code</h2>
<ul>
    <li><strong>Emergencies:</strong>Universal distress signals.</li>
    <li><strong>Navigation:</strong>Aviation and maritime beacons.</li>
    <li><strong>Hobbyist:</strong>Popular among radio operators.</li>
</ul>

<h2>Why Learn It?</h2>
<ul>
    <li>Connects you to history.</li>
    <li>Sharpens memory and focus.</li>
    <li>Useful for emergencies when tech fails.</li>
</ul>
</div>
<div>
    <img src="/static/images/cow_1.jpg" alt="Greeting cow" style="width: 400px; height: 440px; border: 2px solid black; border-radius: 10%">
</div>
</div>
{% endblock %}
