{% extends "layout.html" %}
{% block title %}
    Notes
{% endblock %}
{% block js %}
<script type="module" src="../static/js/notes.js" defer></script> 
{% endblock %}
{% block main %}
<div style="display: flex; align-items: center; justify-content: center; margin: auto;">
    <div class="box" style="background: linear-gradient(to bottom, black 13%, black 13%, white 13%, white 100%);">
        {% if notes %}
        <div>
            <form action="/notes" method="post">
                <select>
                    {% for note in notes %}
                    <option value=note.id>note{{ loop.index }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>   
        {% else %}
        <div style="text-align: center; background-color: black;">
            <p style="color: white;">There arent any notes yet</p>
        </div>
        {% endif %}
        <div id="note_content" style="width: 800px; height: 500px;"> {{ note_content }} </div>
    </div>
</div>
{% endblock %}