{% extends "layout.html" %}
{% block title %}
    Notes
{% endblock %}
{% block js %}
<script type="module" src="../static/js/notes.js" defer></script> 
{% endblock %}
{% block main %}
    <div class="box" style="background: linear-gradient(to bottom, black 60px, black 60px, white 60px, white 460%); border-radius: 30px;">
        {% if notes %}
        <div>
            <form action="/notes" method="post">
                <select>
                    {% for note in notes %}
                    <option value=note.id>note{{ loop.index }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>   
        {% else %}
        <div style="height: 60px; display: flex; justify-content: center; align-items: center;">
            <p style="color: white; font-size: large;">There arent any notes yet</p>
        </div>
        {% endif %}
        <div id="note_content" style="width: 600px; height: 400px;"> {{ note_content }} </div>
    </div>
{% endblock %}