{% extends "layout.html" %}
{% block title %}Success{% endblock %}

{% block main %}
  <!-- Top Section -->
  <div style="position: absolute; display: flex; justify-content: center; top: 0px;">
    <h1 style="text-align: center; text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white; font-size: 80px; margin: 0;">
      Cow-abunga!
    </h1>
  </div>

  <!-- Image Section -->
  <img src="/static/images/succes_cow.jpeg" alt="Happy cow" style="width: 280px; height: 275px; border: 2px solid black; border-radius: 30px;">

  <!-- Alert Message Section -->
  <div style="position: absolute; display: flex; justify-content: center; bottom: 0px;">
    <h2 style="text-align: center; text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white; font-size: 60px; margin: 0; margin-bottom: 25px;">
      {{alert}}
    </h2>
  </div>
{% endblock %}
