<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="alphabet" name="alphabet" value="Option 1"> Alphabet<br>
    <input type="checkbox" id="numbers" name="numbers" value="Option 2"> Numbers<br>
    <input type="checkbox" id="special" name="special" value="Option 3"> Special Characters<br>
    <button id="start">Start</button>
    <script src="../static/js/training.js" defer></script> 
</body>
</html>