{% extends "layout.html" %}
{% block title %}
    Training
{% endblock %}
{% block js %}
<script type="module" src="../static/js/training.js" defer></script>
{% endblock %}
{% block main %}
    <input type="checkbox" id="alphabet" name="alphabet" value="Option 1"> Alphabet<br>
    <input type="checkbox" id="numbers" name="numbers" value="Option 2"> Numbers<br>
    <input type="checkbox" id="special" name="special" value="Option 3"> Special Characters<br>
    <input type="range" id="time_unit" min="100" max="1000" value="200" step="50">
    <span id="time_unit_value">200</span>
    <div id="visible_ls"></div>
    <input id="user_input">
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <button id="evaluation" disabled="true">Evaluation</button>
    <div id="message"></div>
{% endblock %}