{% extends "layout.html" %}
{% block title %}
    Translator
{% endblock %}
{% block js %}
<script src="/static/js/translator.js" type="module" defer></script>
{% endblock %}
{% block main %}
<div style="position: absolute; display: flex; justify-content: center; top: 0px;">
    <h1 class="box" style="width: 150px; text-align: center; padding: 5px; border-radius: 10px;">Translator</h1>
</div>
<div style="display: flex; gap: 20px;">
<textarea id="translator_text" class="box" placeholder="Enter text" style="height: 350px; width: 500px; resize: none; outline: none; border-radius: 30px; padding: 10px; font-size: large;"></textarea>
<textarea id="translator_morse" class="box" placeholder="Enter morse" style="height: 350px; width: 500px; resize: none; outline: none; border-radius: 30px; padding: 10px; font-size: large;"></textarea>
</div>
{% endblock %}